page-scelta-zona {
    .immagine {
        background-image: url(../../assets/imgs/image1.jpg);
        max-width: 100%;
        max-height: 100%;
        bottom: 0;
        position: relative;
        left: 0;
        margin: auto;
        overflow: auto;
        //position: fixed;
        right: 100px;
        top: 0;
        z-index: 10;
        background-size: cover;
    }
    .bottone {
        // top: 500px;
        // left: 100px;
        //  position: fixed;
        margin: auto;
        display: block;
        top: -10px;
        width: 50%;
        height: 60px;
    }
    .item {
        background: transparent;
        color: #000000;
        text-shadow: 0px 0px 3px #FF3E96, 0px 0px 5px #fff;
        font-weight: bold;
        // left: 40px;
        text-align: center;
        font-size: 25px;
    }
    .addominali {
        width: 55%;
        height: 5%;
        background-color: transparent;
        top: 27%; //distanza da sopra 
        border-radius: 20px;
        left: 175px;
    }
    .cosce {
        width: 43%; //larghezza
        height: 5%; //altezza
        background-color: transparent;
        top: 38%; //distanza da sopra 
        border-radius: 20px;
        left: 200px;
    }
    .glutei {
        width: 50%; //larghezza
        height: 5%; //altezza
        background-color: transparent;
        top: 20%; //distanza da sopra 
        border-radius: 20px;
        left: 12px;
    }
    .text {
        text-align: right;
    }
    .text1 {
        color: #000000;
        text-shadow: 0px 0px 3px #FF3E96, 0px 0px 5px #fff;
        font-weight: bold;
    }
    .text2 {
        text-align: left;
    }
    .prova1 {
        margin: 9px 0px 9px 4px !important;
    }
    .prova2 {
        margin: 9px 9px 9px 9px !important;
    }
    .prova3 {
        margin: 10px 40px 10px 5px !important;
    }
}