page-login {
    .login-content {
        background: rgb(255, 255, 255);
        .logo-row {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .login-box {
            background: rgb(255, 255, 255);
            padding: 20px 20px 0px 20px;
        }
        .avatar {
            margin-top: -40px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            border-radius: 30px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 3px solid #F47171;
            border-bottom: 0px !important;
            border-top: 0px !important;
            box-shadow: none !important;
        }
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .submit-btn {
            background: #F47171;
            border-radius: 30px !important;
            border: 1px solid #ffffff;
            height: 50px;
        }
        .register-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
        .bottone {
            background-color: transparent !important;
        }
    }
}