page-aggiungi-esercizi {
    .font {
        margin-bottom: -1%;
        font-size: 14px;
        color: grey;
    }
    .bottone {
        left: 5%;
        border-radius: 50px;
        margin-top: 10%;
    }
    .radio {
        margin-bottom: -10px;
        border-top: 3px dotted #FF3E96;
    }
    .center {
        text-align: center;
    }
}