    page-routine {
        .card-background-page {
            ion-card {
                position: relative;
                text-align: center;
                border-radius: 10px;
            }
            .Stile {
                padding-top: 7px;
                padding-left: 7px;
                font-weight: bold;
                padding-bottom: 5px;
                box-shadow: 3px 3px 2px rgb(165, 160, 160);
                border-radius: 10px;
            }
            .card-title {
                position: absolute;
                top: 36%;
                font-size: 2.0em;
                width: 100%;
                font-weight: bold;
                color: #ffffff;
                z-index: 30;
                //    text-shadow: 0px 0px 3px #FF3E96, 0px 0px 5px #fff;
            }
            .card-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 58%;
                width: 100%;
                color: #fff;
                z-index: 30;
                //    text-shadow: 0px 0px 3px #FF3E96, 0px 0px 5px #fff;
            }
        }
        .background-overlay {
            background: rgba(59, 127, 183, 0.6);
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 10;
        }
        .app-subtitle {
            font-size: 18px;
            width: 100%;
            padding: 10px 10px 20px 10px;
        }
    }