    page-routine {
        .card-background-page {
            ion-card {
                position: relative;
                text-align: center;
                border-radius: 10px;
            }
            .Stile {
                padding-top: 7px;
                padding-left: 7px;
                font-weight: bold;
                padding-bottom: 5px;
                box-shadow: 3px 3px 2px rgb(165, 160, 160);
                border-radius: 10px;
            }
            .card-title {
                position: absolute;
                top: 36%;
                font-size: 1.5em;
                width: 100%;
                font-weight: bold;
                color: #000000;
                text-shadow: 0px 0px 3px #FF3E96, 0px 0px 5px #fff;
            }
            .card-subtitle {
                font-size: 1.0em;
                position: absolute;
                top: 58%;
                width: 100%;
                color: #fff;
                text-shadow: 0px 0px 3px #FF3E96, 0px 0px 5px #fff;
            }
        }
    }